{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": ["airbnb"]
}
