body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}

.interaction-field {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
}

.interaction-row {
  width: 100%;
  height: 100%;
  min-height: 25%;
}

.interaction-card {
  padding: 1em;
  min-height: 90%;
  min-width: 95%;
}


.left-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 75%;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 75%;
}

.ant-card {
  border-radius: 10px !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.interaction-field .ant-card {
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu-content {
  width: 40%;
  padding: 1em;
}

.menu-button {
  margin-bottom: 1em;
  width: 80%;
}

.menu {
  height: 100%;
}
.bit-moji-img-left {
  position: fixed;
  bottom: 23%;
  left: 0;
  max-width: 25%;
  max-height:100%;
}

.bit-moji-img-right {
  position: fixed;
  bottom: 23%;
  right: 0;
  max-width: 25%;
  max-height:100%;
}

.interaction-text {
  height: fit-content;
  border-right: blue;
  border-right-width: 2px;
}

.interaction-text p {
  font-size: 1.5em;

}

.interaction-field .ant-card-body {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top:0 !important;
  padding-bottom: 0 !important;
}

.choice-button {
  margin: 0.4em;
}

.interaction-top-col {
  display: flex !important;
  justify-content: center;
  border-bottom: #BBB 1px solid;
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  font-size: 1.3em;
  color: #BBB
}
